<% layout('/layouts/boilerplate') %>
<div class="w-full flex-column">
    <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .round {
      border-radius: 50%;
    }
  </style>

  <div class="w-full mt-3 flex flex-wrap justify-center">
    <img src="\uploads\<%= currentUser.profilePicture%>" class="round" width="200px">
    <% if(user.name === currentUser.name){%> 
        <a href="/profile/<%=currentUser.id%>/uploadProfile">
            <button class="mt-36 round bg-slate-500 w-10 h-10 p-2"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
            </svg></button>
        </a>
    <% } %>
  </div>


  <div class="w-full flex justify-center  text-3xl font-medium mt-2">
    <h1><%= user.name%></h1>
  </div>

  <div class="w-full flex justify-center mt-2">
    <p><%= user.about %></p>
    <% if(user.name === currentUser.name){%> 
        <a href="/profile/<%=currentUser.id%>/editAbout">
            <button class="round bg-slate-500 w-8 h-8 p-1 ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
            </svg>
            </button>
        </a>
    <% } %> 
  </div>

  <% if(user.name === currentUser.name){%> 
    <div class="w-full flex justify-center">
        <form action="/profile" method="post" enctype="multipart/form-data">
          <div>
            <h1 class="text-3xl font-medium mt-5">Any Thing New To Upload <%= user.name%> </h1>
            <label for="description" class="block mb-2 text-lg font-serif mt-2">Description:</label>
            <textarea id="description" name="description" cols="30" rows="3" placeholder="what is in your mind..."
              class="w-full font-serif  p-4 text-gray-600 bg-indigo-50 outline-none rounded-md"></textarea>
          </div>
          <div class="border border-dashed border-gray-500 relative">
            <label for="image"></label>
            <input type="file" class="cursor-pointer relative block opacity-0 w-full h-10 p-20 z-50" id="image"
              name="image" accept="image/*">
            <div class="text-center p-10 absolute top-0 right-0 left-0 m-auto">
              <h4>
                Drop image anywhere to upload
                <br />or
              </h4>
              <p>Upload Image</p>
            </div>
          </div>
    
          <div class="flex flex-row justify-center">
            <button class="mt-2 group relative h-12 w-48 overflow-hidden rounded-lg bg-white text-lg shadow">
              <div class="absolute inset-0 w-3 bg-amber-400 transition-all duration-[250ms] ease-out group-hover:w-full">
              </div>
              <span class="relative text-black group-hover:text-white">Upload Post!</span>
            </button>
          </div>
        </form>
      </div>
 <% } %> 

 <% for(let post of posts){ %> 
    <div class="w-full flex justify-center mt-16">
        <div class="bg-white">  
            <div class="flex flex-row mb-3">
                <img class="round border border-indigo-100 shadow-lg" src="/uploads/<%= post.user.profilePicture %>" alt="" width="50px" height="50px">
                <a href="/profile/<%= post.user.id%>"> <h1 class="mt-5 ml-3 text-xl font-medium"><%= post.user.name %></h1></a>
            </div>

            <div class="bg-white border shadow p-5 flex flex-col items-start text-xl text-gray-700 font-semibold">
                <p class="text-left"><%= post.description %></p>
                <img class="border rounded-t-lg shadow-lg mt-3"src="\uploads\<%= post.photo%>" width="700px" alt="">
            </div>

            <div class="bg-white p-1 border shadow flex flex-row flex-wrap">
                <% isLiked=false %> 
                <% post.likes.filter((element)=>{if(element.name=== currentUser.name){isLiked=true}})%>
                <form class="w-1/3 <%= isLiked ? "hover:bg-green-200 bg-green-100 text-green-700" : "hover:bg-gray-200 text-gray-700"%> text-center text-xl  font-semibold" action="/<%=post.id%>/like/home" method="post">
                    <button >Like <%= post.likes.length %></button>
                </form>

                <a class="w-1/3 hover:bg-gray-200 border-l-4 text-center text-xl text-gray-700 font-semibold" href="/postPage/<%= post.id  %>">
                    <div >Comment <%= post.comments.length %></div>
                </a>

                <% isDisLiked=false %>
                <% post.dislikes.filter((element)=>{if(element.name=== currentUser.name){isDisLiked=true}})%> 
                <form class="w-1/3 <%= isDisLiked ? "hover:bg-red-200 text-red-700 bg-red-100" : "hover:bg-gray-200 text-gray-700"%>  border-l-4 border-r- text-center text-xl font-semibold" action="/<%=post.id%>/dislike/home" method="post">
                    <button> Dislike <%= post.dislikes.length %></button>
                </form>
            </div>
            <% if(post.user.name === currentUser.name){ %> 
                <form action="/home?_method=DELETE" method="POST">
                    <input name="id" type="text" hidden value="<%=post.id%>">
                    <label for="id" hidden></label>
                    <button type="submit" class="w-full mt-3 text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete This Post</button>
                </form>
            <% } %> 
        </div>
    </div>
<% } %> 


</div>
<div class="h-20"></div>